# Aviation Accident Database Analysis

# Business Understanding

Goals for the Project: This project will use data cleaning, analysis, and visualization to generate insights for business stakeholders on to improve the quality and safety of traveling by Airplane.

The Business problem involves; breaking down and analysing the data to find the lowest risk Aircraft.
This will help the stakeholders to choose the right aircraft to purchase and invest in.

Data: I am using the Kaggle "Aviation Accident Database & Synopses, up to 2023" for my data.

# Data Understanding

In [ ]:
# Loading the necessary libraries
import pandas as pd # To manipulate the dataset
import numpy as np # for any statistics/averages
import matplotlib.pyplot as plt # visiaulaisation library
import seaborn as sns # more extensive visualization library
%matplotlib inline

In [ ]:
#load the datasets loaded
df1 = pd.read_csv('Data/AviationData.csv',encoding='ISO-8859-1')
df2 = pd.read_csv('Data/USState_Codes.csv',encoding='ISO-8859-1')

In [ ]:
#This is to get a general overview of the datasets.
df1.head(5)

In [ ]:
df2.head(5)

In [ ]:
#Info is to understand the columns and their data types.
df1.info()

In [ ]:
df2.info()

In [ ]:
'''
This brief overview shows that they are 88889 rows of data in the Aviation dataset and they are 62 rows in,
inside the US city dataset.
Under head you have see a number of NaN values, I also note that,
all columns in the first data set are non-null while that of the second data set,
has many object data columns most likely inconsistent data types.
'''

# Data Cleaning & Preparation

To prepare the data for analysis we will fix the mssing values and handle data types and duplicates.

Missing values

In [8]:
df1.isna().sum() #The isna shows the true or false if null values are found then sum() adds the all.

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [9]:
'''
Multiple duplicates have been found in date, Total entries columns, and No of engines.
this will help me determine if the Nulls need to be filled or dropped.
They are only dropped if the impact will be small compared to the dataset.
'''

'\nMultiple duplicates have been found in date, Total entries columns, and No of engines.\nthis will help me determine if the Nulls need to be filled or dropped.\nThey are only dropped if the impact will be small compared to the dataset.\n'

In [10]:
#FILL
#The number of missing rows is very large compared to actual entries of 88889.
# So for all integer/float columns tye Nulls will be filled with the mean value.
# This will hopefully present less loss of data and not affect the analysis.
Mean_Number_of_Engines = df1['Number.of.Engines'].mean()
Mean_Fatal_Injuries = df1['Total.Fatal.Injuries'].mean()
Mean_Serious_Injuries = df1['Total.Serious.Injuries'].mean()
Mean_Minor_Injuries = df1['Total.Minor.Injuries'].mean()
Mean_Uninjured = df1['Total.Uninjured'].mean()

In [11]:
df1['Number.of.Engines'] = df1['Number.of.Engines'].fillna(Mean_Number_of_Engines)
df1['Total.Fatal.Injuries'] = df1['Total.Fatal.Injuries'].fillna(Mean_Fatal_Injuries)
df1['Total.Serious.Injuries'] = df1['Total.Serious.Injuries'].fillna(Mean_Serious_Injuries)
df1['Total.Minor.Injuries'] = df1['Total.Minor.Injuries'].fillna(Mean_Minor_Injuries)
df1['Total.Uninjured'] = df1['Total.Uninjured'].fillna(Mean_Uninjured)

In [12]:
df1.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines             0
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [13]:
#Drop
#For the smaller null columns ike location, make, model, Amateur.Built, Country we will drop these.
#It is also difficult to find the average of categorical values, as they can all be unique and replacing them may affect the analysis.

#Drop smaller values
df1 = df1.dropna(subset= ['Location', 'Country', 'Make', 'Model','Amateur.Built', 'Injury.Severity'])
#Drop Missing dates as we want to do a Time series later on and weather conditions which I believe will be critical.
df1 = df1.dropna(subset= ['Publication.Date','Weather.Condition'])
#I could not drop the other columns as it would significantly reduce the data.

In [14]:
df1.isna().sum() #To check if they are still nulls.

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Latitude                  38840
Longitude                 38850
Airport.Code              28598
Airport.Name              26923
Injury.Severity               0
Aircraft.damage            1704
Aircraft.Category         43075
Registration.Number         672
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines             0
Engine.Type                3144
FAR.Description           43073
Schedule                  62267
Purpose.of.flight          2656
Air.carrier               57069
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition             0
Broad.phase.of.flight     22125
Report.Status              2425
Publication.Date              0
dtype: int64

In [15]:
#Because we still have some many missing values we can fill them with N/A
df1 = df1.fillna('N/A')

In [16]:
df1.isna().sum()

Event.Id                  0
Investigation.Type        0
Accident.Number           0
Event.Date                0
Location                  0
Country                   0
Latitude                  0
Longitude                 0
Airport.Code              0
Airport.Name              0
Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Registration.Number       0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
FAR.Description           0
Schedule                  0
Purpose.of.flight         0
Air.carrier               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
Publication.Date          0
dtype: int64

Handling Duplicates

In [17]:
#I remove duplicates in the data using the ID as I assume this is unique and should be single.
df1[df1['Event.Id'].duplicated()]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,N/A,N/A,RKP,ARANSAS COUNTY AIRPORT,...,Executive/corporate,N/A,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,N/A,N/A,N/A,N/A,...,Personal,N/A,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983
160,20020917X02259,Accident,LAX82FA049B,1982-01-23,"VICTORVILLE, CA",United States,N/A,N/A,N/A,N/A,...,Personal,N/A,2.0,0.0,4.0,0.0,VMC,Cruise,Probable Cause,23-01-1983
245,20020917X02585,Accident,SEA82DA028B,1982-02-06,"MEDFORD, OR",United States,N/A,N/A,MFR,MEDFORD-JACKSON COUNTY,...,Personal,N/A,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983
248,20020917X02173,Accident,LAX82DA065A,1982-02-06,"SAN JOSE, CA",United States,N/A,N/A,RHV,RIED HILLVIEW,...,Personal,N/A,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88387,20220822105776,Accident,ERA22LA379,2022-08-20,"Bealeton, VA",United States,038338N,0774255W,3VA3,Flying Circus Aerodrome,...,Business,N/A,0.0,2.0,0.0,2.0,VMC,N/A,N/A,27-09-2022
88538,20220918105957,Accident,CEN22FA424,2022-09-17,"Longmont, CO",United States,040619N,0105721W,N/A,N/A,...,Instructional,McAir Aviation,3.0,0.0,0.0,0.0,VMC,N/A,N/A,07-10-2022
88777,20221112106276,Accident,CEN23MA034,2022-11-12,"Dallas, TX",United States,324026N,0965146W,RBD,Dallas Executive,...,ASHO,Commemorative Air Force,6.0,0.0,0.0,0.0,VMC,N/A,N/A,30-11-2022
88796,20221121106336,Accident,WPR23LA041,2022-11-18,"Las Vegas, NV",United States,361239N,1151140W,VGT,NORTH LAS VEGAS,...,Instructional,702 HELICOPTER INC,0.0,0.0,0.0,3.0,VMC,N/A,N/A,07-12-2022
88814,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Public Aircraft - Federal,U.S. Navy,0.0,0.0,0.0,4.0,VMC,N/A,N/A,22-12-2022

In [18]:
'''
They are 747 rows of duplicated data , I will drop these to ensure data entegrity.
'''

'\nThey are 747 rows of duplicated data , I will drop these to ensure data entegrity.\n'

In [19]:
#to drop I use drop duplicates then specify the event column and I state I only wnat the first ID to stay.
df1 = df1.drop_duplicates(subset=['Event.Id'],keep= 'first')

In [20]:
df1[df1['Event.Id'].duplicated()] #Just to check that the duplicates are gone.

Empty DataFrame
Columns: [Event.Id, Investigation.Type, Accident.Number, Event.Date, Location, Country, Latitude, Longitude, Airport.Code, Airport.Name, Injury.Severity, Aircraft.damage, Aircraft.Category, Registration.Number, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, FAR.Description, Schedule, Purpose.of.flight, Air.carrier, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, Publication.Date]
Index: []

[0 rows x 31 columns]

Transforming Data Types.

In [21]:
# to change the data types as it could cause errors when doing analysis.
#As the totals columns and Number.of.Engines are already float.
String_columns = [
'Latitude',
'Longitude',
'Location',
'Country',
'Airport.Code',
'Airport.Name',
'Injury.Severity',
'Aircraft.damage',
'Aircraft.Category',
'Registration.Number',
'Make',
'Model',
'Amateur.Built',
'Engine.Type',
'FAR.Description',
'Schedule',
'Purpose.of.flight',
'Air.carrier',
'Weather.Condition',
'Broad.phase.of.flight',
'Report.Status']

df1[String_columns] = df1[String_columns].apply(lambda x: x.astype(str))

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70392 entries, 1 to 88886
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                70392 non-null  object
 1   Investigation.Type      70392 non-null  object
 2   Accident.Number         70392 non-null  object
 3   Event.Date              70392 non-null  object
 4   Location                70392 non-null  object
 5   Country                 70392 non-null  object
 6   Latitude                70392 non-null  object
 7   Longitude               70392 non-null  object
 8   Airport.Code            70392 non-null  object
 9   Airport.Name            70392 non-null  object
 10  Injury.Severity         70392 non-null  object
 11  Aircraft.damage         70392 non-null  object
 12  Aircraft.Category       70392 non-null  object
 13  Registration.Number     70392 non-null  object
 14  Make                    70392 non-null  object
 15  Model                   70392 non-null  object
 16  Amateur.Built           70392 non-null  object
 17  Number.of.Engines       70392 non-null  float64
 18  Engine.Type             70392 non-null  object
 19  FAR.Description         70392 non-null  object
 20  Schedule                70392 non-null  object
 21  Purpose.of.flight       70392 non-null  object
 22  Air.carrier             70392 non-null  object
 23  Total.Fatal.Injuries    70392 non-null  float64
 24  Total.Serious.Injuries  70392 non-null  float64
 25  Total.Minor.Injuries    70392 non-null  float64
 26  Total.Uninjured         70392 non-null  float64
 27  Weather.Condition       70392 non-null  object
 28  Broad.phase.of.flight   70392 non-null  object
 29  Report.Status           70392 non-null  object
 30  Publication.Date        70392 non-null  object
dtypes: float64(5), object(26)
memory usage: 17.2+ MB

In [23]:
#Reseting the index. I want to change the index to the unique ID the Events.
df1 = df1.set_index(['Event.Id'])
df1

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,N/A,N/A,N/A,N/A,Fatal(4),...,Personal,N/A,4.000000,0.000000,0.000000,0.00000,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922222999999995,-81.878056,N/A,N/A,Fatal(3),...,Personal,N/A,3.000000,0.279881,0.357061,5.32544,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,N/A,N/A,N/A,N/A,Fatal(2),...,Personal,N/A,2.000000,0.000000,0.000000,0.00000,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,N/A,N/A,N/A,N/A,Fatal(1),...,Personal,N/A,1.000000,2.000000,0.357061,0.00000,VMC,Approach,Probable Cause,16-04-1980
20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277000000004,-70.758333,N/A,N/A,Non-Fatal,...,N/A,Air Canada,0.647855,0.279881,1.000000,44.00000,VMC,Climb,Probable Cause,19-09-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221212106443,Accident,WPR23LA064,2022-12-09,"Casa Grande, AZ",United States,325736N,1114536W,CGZ,Casa Grande Municipal Airport,Non-Fatal,...,Personal,N/A,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,13-12-2022
20221212106444,Accident,ERA23LA085,2022-12-12,"Knoxville, TN",United States,355745N,0835218W,DKX,KNOXVILLE DOWNTOWN ISLAND,Non-Fatal,...,Instructional,Knoxville Flight Training Academy,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,15-12-2022
20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,Non-Fatal,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,27-12-2022
20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,Minor,...,Personal,GERBER RICHARD E,0.000000,1.000000,0.000000,0.00000,VMC,N/A,N/A,23-12-2022
20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,...,Personal,N/A,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,27-12-2022

The data is now prepared for analysis with no duplicates, missing values and a new index with the unique ID.

# Data Analysis

The stakeholders require an analysis of each aircraft and aspects that influence risk.
I will look at differences in each variable that influences Risk in an airplains.
The type of airplane, its use wether commercuial and private and how it influences its risk.

Questions I would like to look at involve:

Aircraft:
Make, model with lowest accidents top 5
Make, model with lowest Incidents top 5
Air.carrier with highest Total.Fatal.Injuries and least.
Aircraft.Category with highest Total.Fatal.Injuries and least.
Amateur.Built 

Accidents:
Total number of accidents over time with Total number of Incidents over time
country with the most accidents and least accidents.
Main causes for accidents- report highest.

Further deep analysis:
Weather condition and corrilation to number of accidents,
Broad.phase.of.flight and corrilation number of accidents,
Engine.Type correlation with number of accidents, also Amateur.Built

breakdown with USA and join:
Special look at USA; Assumption that they want to focus an invest in the USA.

In [24]:
df1['Make'].value_counts()

Cessna               17242
Piper                 9340
CESSNA                4259
Beech                 3423
PIPER                 2493
                     ...
SKWIRA MATTHEW J         1
Hyde                     1
ROBERT HAMBLIN           1
GIBBS                    1
Williams Yakovlev        1
Name: Make, Length: 7442, dtype: int64

In [38]:
#Make & Model with lowest accidents top 5
#First I extract  only the data with Accident
accidents = df1[df1['Investigation.Type'] == 'Accident']
accidents.head(5)

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,N/A,N/A,N/A,N/A,Fatal(4),...,Personal,N/A,4.000000,0.000000,0.000000,0.00000,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922222999999995,-81.878056,N/A,N/A,Fatal(3),...,Personal,N/A,3.000000,0.279881,0.357061,5.32544,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,N/A,N/A,N/A,N/A,Fatal(2),...,Personal,N/A,2.000000,0.000000,0.000000,0.00000,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,N/A,N/A,N/A,N/A,Fatal(1),...,Personal,N/A,1.000000,2.000000,0.357061,0.00000,VMC,Approach,Probable Cause,16-04-1980
20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277000000004,-70.758333,N/A,N/A,Non-Fatal,...,N/A,Air Canada,0.647855,0.279881,1.000000,44.00000,VMC,Climb,Probable Cause,19-09-2017

In [26]:
# To get the lowest accidents i look for only the Model and count the accidents . I use reset index to make it a dataset again.
lowest_accidents = accidents.groupby(['Make','Model'])['Investigation.Type'].count().reset_index()
lowest_accidents = lowest_accidents.sort_values(by = ['Investigation.Type'], ascending = True ) # To find the lowest I use ascending order.
lowest_accidents.head(10)#This shows the top 5 lowest accident Makes and Models in the industry.

                           Make              Model  Investigation.Type
0      107.5 Flying Corporation  One Design DR 107                   1
10478              Marks CA III          Kitfox II                   1
10479                  Markwood               BD-4                   1
10480           Marland E Davis              RV-6A                   1
10481                    Marlin            Varieze                   1
10482            Marlow Hilyard          EXECUTIVE                   1
10483              Marrek Smyth         SIDEWINDER                   1
10484                    Marrin          Pitts S-1                   1
10485              Marsh-turner             BG-12A                   1
10486                  Marshall          CH601 HDS                   1

In [27]:
#We will now filter for Incidents to get a complete understanding.
incidents = df1[df1['Investigation.Type'] == 'Incident']
incidents.head(5)

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20020917X02333,Incident,LAX82IA034,1982-01-03,"VAN NUYS, CA",United States,N/A,N/A,VNY,VAN NUYS,Incident,...,Personal,N/A,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,03-01-1983
20020917X01764,Incident,ATL82IA029,1982-01-05,"PENSACOLA, FL",United States,N/A,N/A,N/A,N/A,Incident,...,Business,N/A,0.0,0.0,0.0,1.0,VMC,Cruise,Probable Cause,05-01-1983
20020917X01897,Incident,CHI82IA026,1982-01-12,"CHICAGO, IL",United States,N/A,N/A,ORD,CHICAGO O'HARE INTER'L,Incident,...,Unknown,Trans World Airlines,0.0,0.0,0.0,149.0,UNK,Cruise,Probable Cause,12-01-1983
20020917X01765,Incident,ATL82IA034,1982-01-12,"CLARKSBURG, WV",United States,N/A,N/A,CKB,BENEDUM,Incident,...,Unknown,Aeromech Incorporated,0.0,0.0,0.0,2.0,VMC,Taxi,Probable Cause,12-01-1983
20020917X01766,Incident,ATL82IA038,1982-01-19,"WASHINGTON, DC",United States,N/A,N/A,IAD,N/A,Incident,...,Ferry,N/A,0.0,0.0,0.0,1.0,IMC,Descent,Probable Cause,19-01-1983

In [28]:
# To get the lowest accidents i look for only the Model and count the accidents . I use reset index to make it a dataset again.
lowest_incidents = incidents.groupby(['Make','Model'])['Investigation.Type'].count().reset_index()
lowest_incidents= lowest_incidents.sort_values(by = ['Investigation.Type'], ascending = True ) # To find the lowest I use ascending order.
lowest_incidents.head(10)#This shows the top 5 lowest accident Makes and Models in the industry.

                    Make     Model  Investigation.Type
0    2007 Savage Air LLC   EPIC LT                   1
916               Mooney      M20K                   1
912               Mooney     M-20L                   1
911               Mooney     M-20E                   1
538               Cessna      206B                   1
539               Cessna      206F                   1
540               Cessna      206H                   1
910           Mitsubishi  MU-300IA                   1
909           Mitsubishi  MU-2G-30                   1
543               Cessna       208                   1

In [29]:
'''
It is interesting to note that the top models/makes with the fewest accidents are different from the top top models/makes,
with the fewest incidents.
Logically an incident is better than an accident and therefore the Make and models with top incidents are more recommended for safety,#
than that  of the accidents.
You also notice that they are models that repeat for example for accidents its Marrin and for incidents its Cessna. 
'''

'\nIt is interesting to note that the top models/makes with the fewest accidents are different from the top top models/makes,\nwith the fewest incidents.\nLogically an incident is better than an accident and therefore the Make and models with top incidents are more recommended for safety,#\nthan that  of the accidents.\n'

In [30]:
# For further analysis I will look at the air carrier and Make with the highest Total.Fatal.Injuries and the least.
# To get the lowest accidents i look for only the Model and count the accidents . I use reset index to make it a dataset again.
Total_Injuries = df1.groupby(['Make'])['Total.Fatal.Injuries'].sum().reset_index()
Total_Injuries = Total_Injuries.sort_values(by = ['Total.Fatal.Injuries'], ascending = False ) # To find the lowest I use ascending order.
Total_Injuries.head(10)#This shows the top 5 lowest accident Makes and Models in the industry.

                   Make  Total.Fatal.Injuries
1416             Cessna           7833.416374
5239              Piper           5181.891028
961              Boeing           3751.907353
852               Beech           2686.855320
1191             CESSNA           1287.000000
4561  Mcdonnell Douglas           1037.137660
860                Bell            916.510027
5076              PIPER            891.000000
326    Airbus Industrie            882.209916
1993            Douglas            835.548524

CESSNA seems to be the same make as Cessna it could be an error. I will convert all text to small letter so they are many makes I am I want to catch any other doubles.

In [33]:
df1['Make'] = df1['Make'].str.lower()

In [34]:
df1

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,N/A,N/A,N/A,N/A,Fatal(4),...,Personal,N/A,4.000000,0.000000,0.000000,0.00000,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922222999999995,-81.878056,N/A,N/A,Fatal(3),...,Personal,N/A,3.000000,0.279881,0.357061,5.32544,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,N/A,N/A,N/A,N/A,Fatal(2),...,Personal,N/A,2.000000,0.000000,0.000000,0.00000,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,N/A,N/A,N/A,N/A,Fatal(1),...,Personal,N/A,1.000000,2.000000,0.357061,0.00000,VMC,Approach,Probable Cause,16-04-1980
20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277000000004,-70.758333,N/A,N/A,Non-Fatal,...,N/A,Air Canada,0.647855,0.279881,1.000000,44.00000,VMC,Climb,Probable Cause,19-09-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221212106443,Accident,WPR23LA064,2022-12-09,"Casa Grande, AZ",United States,325736N,1114536W,CGZ,Casa Grande Municipal Airport,Non-Fatal,...,Personal,N/A,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,13-12-2022
20221212106444,Accident,ERA23LA085,2022-12-12,"Knoxville, TN",United States,355745N,0835218W,DKX,KNOXVILLE DOWNTOWN ISLAND,Non-Fatal,...,Instructional,Knoxville Flight Training Academy,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,15-12-2022
20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,Non-Fatal,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,27-12-2022
20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,Minor,...,Personal,GERBER RICHARD E,0.000000,1.000000,0.000000,0.00000,VMC,N/A,N/A,23-12-2022
20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,Non-Fatal,...,Personal,N/A,0.000000,0.000000,0.000000,1.00000,VMC,N/A,N/A,27-12-2022